body, td, form, input {
	font-family: Verdana;
	font-size: 11px;
}

body{
	background-color: #f5f5f5;
	margin: 0px;
	padding: 0px;
}

input{
	margin: 4px 1px;
	font-size: 20px;
	padding: 4px;
	border: 1px solid silver;
	border-radius: 3px;
	color: darkgray;
}
input:hover{
	border-color: darkgray;
	color: gray;
}
input:focus{
	border-color: black;
	color: black;
}
input[type=submit]{
	color: #333;
	text-shadow: 1px 1px 0px white;
	background-color: gold;
}
input[type=submit]:hover{
	color: black;
	border-color: orange;
}
.input-half{width: 50%;}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
	font-weight: normal;
	font-family: 'Myriad Pro';
}
h1 {
	border-left: 20px solid darkcyan;
	padding: 0 0 3px 5px;
	margin: 5px 5px 2px 0px;
}
h2 {
	font-size: 18px;
	margin: 1px 2px;
}

a,a:visited {
	color: darkcyan;
	text-decoration: none;
}

a:hover{color: tomato;}
a:focus { outline:none; }

.menu{
	height: 30px;
	border-bottom: 1px solid silver;
}
.menu ul{
	list-style: none;
	margin: 0 5px;
	padding: 0;
}

.menu ul li{
	float: left;
	margin: 0;
	padding: 0;
}

.menu a,.menu a:visited{
	font-weight: bold;
	padding: 5px;
	display: block;
	border: 1px solid silver;
	border-radius: 4px;
	margin-right: 5px;
}
.menu a:hover{
	background-color: darkcyan;
	color: white;
	border-color: black;
}

.left-column{
	width: 200px;
	margin-right: 9px;
	float: left;
	border-right: 1px solid silver;
}
.right-page{
	width: 750px;
	float: right;
}

.clearfix{
	clear: both;
}

.stopka {
	text-align: center;
	font-size: 10px;
	padding: 5px;
	margin: 5px 20px 0 20px;
	border-top: 1px solid silver;
}

.error{
	margin: 5px;
	border: 5px solid red;
	font-family: "Lucida Console", "Courier New", monospace;
	padding: 5px;
	border-radius: 5px;
	background-color: bisque;
	font-size: 17px;
}
.error h2{
	font-family: "Arial Narrow", sans-serif;
	font-size: 20px;
	letter-spacing: 3px;
	color: red;
	font-weight: 800;
}
#main {
	width: 960px;
	margin: 0px auto;
	background-color: white;
	padding: 5px 0px;
}

/* CUSTOMOWE TABY */
div.custom-tabs {
    border-bottom: 1px solid #999999;
    height: 26px;
    padding-left: 10px;
}
ul.custom-tabs {
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    border-radius: 5px 0 0 0;
    float: left;
    height: 26px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
ul.custom-tabs li {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F7F8F8;
    border-color: #999999 #999999 #999999 -moz-use-text-color;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    float: left;
    height: 25px;
    line-height: 24px;
    margin: 0 0 -1px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
ul.custom-tabs li:first-child, ul.custom-tabs li:first-child a {
    border-top-left-radius: 5px;
}
ul.custom-tabs li:last-child, ul.custom-tabs li:last-child a {
    border-top-right-radius: 5px;
}
ul.custom-tabs li a {
    border: 1px solid white;
    color: #888888;
    display: block;
    outline: medium none;
    padding: 0 10px;
    text-decoration: none;
}
ul.custom-tabs li a:hover {
    background: none repeat scroll 0 0 #E8F5F6;
    color: #444444;
}
html ul.custom-tabs li.active, html ul.custom-tabs li.active a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
html ul.custom-tabs li.active a {
    color: black;
}

.slajdy-div{
	font-size: 100%;
}

#slajd-modal h1 {
	border: none;
	font-size: 3em;
}

#slajd-modal {
	position: absolute;
	background-color: black;
	width: 100%;
	height: 100%;
	display: block;
	top: 0px;
	left: 0px;
	font-size: 100%;
	/*	opacity: 0.5;*/
}

#slajd-modal-inner{
	font-size: 1.5em;
	display: block;
	background-color: white;
	margin: 0 auto;
	position: relative;
}

#slajd-modal-controls {
	position: absolute;
	opacity: 0.3;
	z-index: 50;
	right: 25em;
	bottom: 10px;
}
#slajd-modal-controls img {
	cursor: pointer;
}
#slajd-remote-monitor{
	position: absolute;
	top: 0px;
	margin: 10px;
	z-index: 50;
}

#slajd-modal-content {
	padding: 0.5em;
}
